.Header {
  background-color: #eaecf1;
  min-height: 20vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(110, 117, 180);
}